<body  class="p-3 mb-2 bg-primary text-white" ><div class="bg-primary"></div> 

    <mat-card *ngIf='discard' class="example-card1"  >
  
  
      <mat-card-header>


        <h1>reset YOUR PASSWORD?</h1>
        
      </mat-card-header>
    
      <form class="example-form" [formGroup]="userform">
        <p>Please enter your new password</p>
      
        <mat-form-field class="example-full-width">
            <input matInput type="password" 
                   placeholder="password" formControlName='password'>
        
                   <mat-error  *ngIf="this.userform.get('password').touched || this.userform.get('password').errors" >
                     password B/W 8 to 12 letters 
                    </mat-error>
    
          </mat-form-field>
  
  
  
          <mat-form-field class="example-full-width">
              <input matInput type="password" 
                     placeholder="Re-enterPassword" formControlName='reenterPassword'>
          
   
      
            </mat-form-field>


      </form>
      <div class="sendbtn">
      <button [disabled]="userform.invalid" type="button" class="btn btn-primary" (click)='submit()'>Submit</button>
  
    </div>


    </mat-card>
 
    <!-- <div *ngIf='diserror' class="col-sm-2" class="loginerror">
        <div class="alert alert-warning alert-dismissible"  >
           
            <strong class="loginerror2" >Email address does't exists</strong> .
          </div>
        </div> -->

  </body>












