






<div class="container">

<div class="sfs">
  <div>
    <h2>Catagory</h2> 
    <mat-form-field appearance="fill">
      <mat-label>Categories</mat-label>
      <mat-select>
        <mat-option *ngFor="let catagory of catagoryList" [value]="catagory" (click)="getcatagory(catagory)">
          {{catagory |titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p style="color: lightslategray;">This graph show each day's spending ammount in a week</p>
  
    </div>
   
      <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
         >
      </canvas>
   

  </div>
  
  <div class="sfs">
    <div>
      <h2>Time period</h2> 
      <mat-form-field appearance="fill">
        <mat-label>Time period</mat-label>
        <mat-select disableRipple>
          <mat-option  *ngFor="let x of llist" [value]="x" (click)="getPieChartData(x)  ">{{x}}</mat-option>
          <!-- <mat-option value="2" (click)="getPieChartData(Days reports)  ">Weeks reports</mat-option>
          <mat-option value="3" (click)="getPieChartData(Days reports)  ">Months reports</mat-option>
          <mat-option value="4" (click)="getPieChartData(Days reports)  ">Annually reports</mat-option> -->
        </mat-select>
      </mat-form-field>
      <p style="color: lightslategray;">This graph show's category wise spending ammount in a week</p>
      </div>
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>

</div>