
<router-outlet></router-outlet>
<!-- <app-add-amount></app-add-amount> -->
<!-- <app-home-screen></app-home-screen> -->
<!-- <app-add-image></app-add-image> -->

<!-- <app-login-component></app-login-component> -->
<!-- <app-register-component></app-register-component> -->
<!-- <app-forgot-password-component></app-forgot-password-component> -->
<!-- <app-reset-password></app-reset-password> -->
<!-- <app-edit-profile></app-edit-profile> -->
<!-- <app-graphs-component></app-graphs-component> -->