
<body  class="p-3 mb-2 bg-primary text-white"><div class="bg-primary"></div> >

  <mat-card class="example-card" >


    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <img class="img-responsive" src='logo.JPG' alt="logo" > 
      <!-- <img mat-card-image src='F:/chrome/onlinelogomaker-102220-2029-2427.JPG' alt="logo"> -->
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput 
               placeholder="Ex. pat@example.com">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error >
          Please enter a valid email address
        </mat-error>
        <mat-error >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
        <!-- <mat-label>password</mat-label> -->
        <mat-form-field class="example-full-width">
        <input matInput 
               placeholder="password">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error >
          Please enter a valid password
        </mat-error>
        <mat-error >
          password  is <strong>required</strong>
        </mat-error>


      </mat-form-field>
    </form>

  </mat-card>

</body>