.example-card {
 
    max-width: 500px;
    margin-left: 31rem;
    margin-top: 17rem;
}
.example-card1 {
  max-width: 400px;
  margin-left: 33rem;
  margin-top: 16rem;
}  
  
.example-header-image {
  background-image:url('file:///F:/chrome/ll.eps');
  background-size: cover;
}

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 .loginerror{
   
  margin-left: 73rem;
  margin-top: 7rem;
 }
 .loginerror2{
   color: red;
  
   }
  .sendbtn{
      margin-top: 1rem;
      margin-left: 9rem;
  }
  .matcardc{
    width: fit-content;
   
}
.csdmd{
  min-width: 100%;
  padding: 60px 1rem;
  display: block;
  background: #0275d8;

}