<body  class="p-3 mb-2 bg-primary text-white" ><div class="bg-primary"></div>  

    <mat-card *ngIf='disCard' class="example-card1" >
  
  
      <mat-card-header>


        <h1>Forgot your password?</h1>
        
      </mat-card-header>
    
      <form class="example-form" [formGroup]="userform">
        <p>Don't worry Resetting your password is easy, Just tell us email address you register with DENOTE</p>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput 
                 placeholder="Enter valid email id" formControlName='email'>

          <mat-error  *ngIf="this.userform.get('email').errors && this.userform.get('email').errors.invalidemail " >
            Please enter a valid email address
          </mat-error>
          
        </mat-form-field>


      </form>
      <div class="sendbtn">
      <button [disabled]="userform.invalid" type="button" class="btn btn-primary" (click)='send()'>Send</button>
  
    </div>


    </mat-card>
    <mat-card *ngIf='isSuccess' class="matcardc" class="example-card">
  
    
        <mat-card-header>
  
  
          <h2>reset YOUR PASSWORD</h2>
          
        </mat-card-header>
<p>
    We have sent a reset password email to *****@gmail.com, 
    Please click the reset password link to set your new password.
       </p>
      
       
 <div>
     <p>Didn't receive the email yet?</p>
 </div>
 <div>
    <p>Please check your spam folder,or <a routerLink="/RegisterComponent"> resend</a> the email </p>
     

</div>
 
      </mat-card>
    <div *ngIf='iserror' class="col-sm-2" class="loginerror">
        <div class="alert alert-warning alert-dismissible"  >
           
            <strong class="loginerror2" >Email address does't exists</strong> .
          </div>
        </div>
     
</body>










